<h1> duck show page </h1>
<br>
<p> Name: </p>
<p> <%= @duck.name %> </p>
<p> Description: </p>
<p> <%= @duck.description %> </p>
<h3> Belongs to: </h3>
    <p> <%= @duck.student.name %> </p>
    <p> <%= @duck.student.mod %> </p>
